IESG Erik Kline review

Erik Kline wrote:

[[ discuss ]]

[ general ]

* I agree with existing discuss points raised.


[[ comments ]]

[ section 3.8,{1,2} ]

* Per RFC 5952 section 4.3, s/upper hex/lower hex/g for IPv6 address strings.


[[ nits ]]

[ appendix A ]

* s/non of/none of/, I think
