172	3.3.  Type 3 - Next Header

172	3.3.  Type 3 - Next Header
...
176	   Contains a list of {numeric_op, value} pairs that are used to match
177	   the last Next Header ([RFC8200] Section 3) value octet in IPv6
178	   packets.

[major] "last Next Header ([RFC8200] Section 3)"

I see Next Header, but nothing in rfc8200 about the "last" one.

§4 of rfc8200 says this:

   When processing a sequence of Next Header values in a packet, the first
   one that is not an extension header [IANA-EH] indicates that the next
   item in the packet is the corresponding upper-layer header.

Is the "last Next Header" the same as "the first one that is not an
extension header"?  If so, then I recommend using the same terminology
as rfc8200.

It might be a good idea to add an example using this component.



@robert, @suehares 

Does it make sense to also rename this component to "upper layer protocol"?

I changed the text to better match RFC8200 and what actually is used for matching -> the upper-layer protocol: 
```
 Contains a list of {numeric_op, value} pairs that are used to match
   the first Next Header value octet in IPv6 packets that is not an
   extension header and thus indicates that the next item in the packet
   is the corresponding upper-layer header (see [RFC8200] Section 4).

```

Your text is fine.  That is why I think I originally added this text: 

	  <t>Note: While IPv6 allows for more than one Next Header field in the
	  packet, the main goal of the Type 3 flow specification component is to
      match on the first upper-layer IP protocol value.  Therefore the
      definition is limited to match only on this specific Next Header field in
      the packet.
	  </t>

But that reminds me that we do not have a way to match on extension headers :(  Maybe we should ? 

Robert is correct - your text is fine for upper layer. 
We should probably add something to match on extension headers. 
Robert - did you have any ideas on the text for the extension headers. 

@raszuk @suehares 
If we want to go that path we have 2 options:
I need to point out that both solutions are not yet defined, nor implemented and we will restart the WG process.

1. Match on presence of a specific extension header in the packet

This may be of some very limited use - since it has knowledge of the additional contents of the header. 

2. Match on extension header **and** bits and pieces inside such an extension header

Seems more useful but may need a FS component per extension header





//doc
Used the correct terms from rfc8200. Also changed the name to "Upper-Layer Protocol" which seems to be the better choice.

At this point for IPv6, I have the following idea:
1) leave it out and send the text 
2) place it in a "future requirement" - which Alvaro might hate. 

Robert may have a better Idea on this text. d

I think we should just put that filtering on extensions headers is out of scope and will be addressed in separate document(s) if required. 

There so much churn about extensions headers in 6man and spring that this is moving target and if we start to trying to match on those we may never finish this draft. 

Good.   let's close this item without putting in any text. 