189	3.4.  Type 7 - ICMPv6 type

189	3.4.  Type 7 - ICMPv6 type
...
193	   Defines a list of {numeric_op, value} pairs used to match the type
194	   field of an ICMPv6 packet (see also [RFC4443] Section 2.1).

[nit] s/type/Type
